body {
    padding: 1.5rem;
}

/* Header */

header {
    padding: 1rem;
    border-bottom: 1px solid #000000;
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    margin: 0;
    font-size: 2rem;
    color: #333;
}

header p {
    margin: 0.5rem 0 0;
    font-size: 1.1rem;
    color: #555;
}

.intro {
    text-align: justify;
    text-indent: 2em;
    padding: 1.5rem 1.5rem 1.5rem 1rem;
}  

/* Breadcrumb */

.breadcrumb {
    font-size: 0.8rem;
    margin: 1rem 0;
    padding: 0.5rem;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.breadcrumb a {
    color: #0077cc;
    text-decoration: none;
    font-weight: bold;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    color: #333;
    font-weight: bold;
}

/* Secciones botones */

.helpSection {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.helpSection img {
    max-height: 40px;
    width: auto;
}

.passwordSection{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.passwordSection img {
    max-width: 200px;
    width: auto;
}

/* Footer */

footer {
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid #000000;
}

footer h2 {
    margin: 0 0 0.5rem;
    font-size: 1.2rem;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

footer ul li a {
    color: #0077cc;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

footer ul li a:hover {
    color: #050505;
}