/* CSS for app */

/* #AF9400-MOSTAZA // #FFD700-FLECHA // #FFEA77-CLARO*/
/* #A7F7AC-VCLARO // #1F6A24-VOSCURO*/


.root {
    -fx-background-color: #1F6A24;   
}

/* Fondo Gridpane*/
.panel {
    -fx-background-color:#A7F7AC;
}

/* Paneles verde oscuro con opacidad 30*/
.panelP{
	-fx-background-color: rgba(31, 106, 36, 0.3);
}

.panelB{
	-fx-background-color: #AF9400;
}
.panelC{
	-fx-background-color: #FFEA77;
}

/* Etiquetas de titulo*/
Label{
	-fx-text-fill: #1F6A24;
	-fx-font-size: 16px;	
	
}

.lblNegrita{
	-fx-font-weight: bold;	
	
}

.lblTitulo{
	-fx-font-size: 50px;
	-fx-text-fill: #1F6A24;
	-fx-font-weight: bold;	
}

/* Titulos largos*/
.lblTitulo2{
	-fx-font-size: 30px;
	-fx-text-fill: #1F6A24;
	-fx-font-weight: bold;
}

/* RegParada*/
.lblTitulo3{
	-fx-font-size: 20px;
	-fx-text-fill: #1F6A24;	
	-fx-font-weight: bold;
}

/* Botones */
Button{
	-fx-background-color:#1F6A24;
	-fx-background-radius: 20;
	-fx-text-fill: #FFD700;	
}

Button:hover {
    -fx-background-color: #1F6A24; 
	-fx-scale-x:1.2;
	-fx-scale-y:1.2;
}

.button:pressed{
	-fx-translate-y:2px;
}

.btnFlecha{
	-fx-padding: 10;	
}

.radio-button {
    -fx-text-fill:#1F6A24; 
}

/* Hyperlink */
.hyperlink {
    -fx-text-fill: #1F6A24;
    -fx-underline: false;  
}

.hyperlink:hover {
    -fx-text-fill: #1F6A24;
	-fx-scale-x:1.1;
	-fx-scale-y:1.1;
}




/* Tooltips */
.tooltip {
    -fx-text-fill: #1F6A24; 
    -fx-font-weight: bold;
    -fx-background-color: #A7F7AC; 
    -fx-font-size: 14px;     
    -fx-border-color: #1F6A24;
    -fx-border-width:2px;
}



/* Tabla Marrón */
.tblM {    
    -fx-border-color: #1F6A24;
    -fx-border-width: 2;
}

.tblM .table-cell {
    -fx-alignment: CENTER;
}
.tblM .column-header {
	-fx-background-color:#AF9400;             
}

.tblM .column-header .label{    
    -fx-text-fill: #FFEA77;         
    -fx-font-weight: bold;               
}

.tblM .table-row-cell {
    -fx-background-color: #FFEA77 ;   
}

.tblM .table-row-cell .text {
    -fx-fill: #1F6A24; 
}



/* Tabla Verde */

.tblV {    
    -fx-border-color: #1F6A24;
    -fx-border-width: 2;
}

.tblV .table-cell {
    -fx-alignment: CENTER;
}

.tblV .column-header {
	-fx-background-color:#1F6A24;             
}

.tblV .column-header .label{    
    -fx-text-fill: #FFD700;         
    -fx-font-weight: bold;               
}

.tblV .table-row-cell {
    -fx-background-color: #A7F7AC;   
}

.tblV .table-row-cell .text {
    -fx-fill: #1F6A24;
}



/* tabla verde con seleccion */
.tblVS {    
    -fx-border-color: #1F6A24;
    -fx-border-width: 2;
}

.tblVS .table-cell {
    -fx-alignment: CENTER;
}

.tblVS .column-header {
	-fx-background-color:#1F6A24;             
}

.tblVS .column-header .label{    
    -fx-text-fill: #FFEA77;         
    -fx-font-weight: bold;               
}

.tblVS .table-row-cell {
    -fx-background-color: #A7F7AC;   
}

.tblVS .table-row-cell .text {
    -fx-fill: #1F6A24;
}

/* Celdas Seleccion */
.tblVS .table-row-cell:selected {
    -fx-background-color: #1F6A24;
   
}

.tblVS .table-row-cell:selected .text {
    -fx-fill: #FFD700;
}

/* Alertas */
.dialog-pane {
    -fx-background-color: #A7F7AC; /* Cambia el fondo del diálogo */
    -fx-border-color: #1F6A24; /* Cambia el borde */
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
}

.dialog-pane .header-panel {
    -fx-background-color: #1F6A24; /* Fondo del encabezado */
    -fx-text-fill: #A7F7AC; /* Color del texto del encabezado */
    -fx-padding: 10px;
    -fx-font-size: 16px; /* Tamaño de fuente */
    -fx-font-weight: bold;
}

.dialog-pane .content {
    -fx-text-fill: #1F6A24; /* Color del texto del contenido */
    -fx-font-size: 14px;
    -fx-padding: 10px;
}

.dialog-pane .button-bar .button {
    -fx-background-color: #1F6A24; /* Fondo de los botones */
    -fx-text-fill: #A7F7AC; /* Color del texto del botón */
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-font-size: 12px;
}


